<div style="position: absolute; top: 35%; left: 40%; text-align: center;">
    <img src="@Url.Content("/icons/moogleapi-icon-512.png")" style="width: 200px; height: 200px; border-radius: 50%;" />
    <p style="position: relative; color: #bdbdbd;">cactuarAPI is used for <a style="color: #1890ff!important; text-decoration: none!important;" href="https://penelo.moogleapi.com" _target="blank">penelo.moogleapi.com</a></p>
</div>